# Arquivos e diretórios gerados pelo Node.js
node_modules/
npm-debug.log

# Arquivos de log
logs/
*.log

# Arquivos de ambiente
.env

# Arquivos de dependências
package-lock.json

.DS_Store

*.min.css
*.min.js
