.woocommerce.columns-3 ul.products {
   @apply grid xl:grid-cols-3 gap-[2.5rem];
}

.woocommerce.columns-3 ul.products::before,
.woocommerce.columns-3 ul.products::after {
   @apply !hidden;
}

.woocommerce.columns-3 ul.products li.product {
   @apply w-full col-span-1;
}

.woocommerce ul.products li.product a {
   flex: 0 0 100%;
}

.woocommerce ul.products li.product a img {
   aspect-ratio: 16 / 20;
   object-fit: cover;
   flex: 0 0 100%;
   margin-bottom: 0;
}

.woocommerce ul.products li.product {
   @apply flex gap-x-4 gap-y-4 justify-between items-center w-full flex-wrap;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
   @apply text-base uppercase text-purple-900 m-0 p-0;
}

.woocommerce ul.products li.product .price {
   @apply text-base uppercase text-purple-900 m-0 p-0;
}

.woocommerce nav.woocommerce-pagination {
   @apply mt-[3.5rem] w-fit max-w-full mx-auto;
}

.woocommerce nav.woocommerce-pagination ul {
   @apply flex gap-6 lg:gap-[3.125rem] xl:gap-[8.3125rem] border-none items-center;
}

.woocommerce .woocommerce-pagination ul.page-numbers li,
.woocommerce-page .woocommerce-pagination ul.page-numbers li {
   @apply !border-none;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
   @apply bg-transparent hover:bg-transparent focus:bg-transparent text-gray-600 hover:text-purple-900 focus:text-purple-900 text-base p-2 leading-none;
}

.woocommerce nav.woocommerce-pagination ul li a.next {
   @apply bg-transparent hover:bg-transparent focus:bg-transparent text-purple-900 hover:text-purple-900 focus:text-purple-900 text-[0rem];
}

.woocommerce nav.woocommerce-pagination ul li a.prev {
   @apply bg-transparent hover:bg-transparent focus:bg-transparent text-purple-900 hover:text-purple-900 focus:text-purple-900 text-[0rem];
}

.woocommerce nav.woocommerce-pagination ul li a.next::before {
   @apply content-['>'] text-base leading-none;
}

.woocommerce nav.woocommerce-pagination ul li a.prev::before {
   @apply content-['<'] text-base leading-none;
}

.woocommerce nav.woocommerce-pagination ul li a.current,
.woocommerce nav.woocommerce-pagination ul li span.current {
   @apply bg-transparent hover:bg-transparent focus:bg-transparent text-gray-900 hover:text-purple-900 focus:text-purple-900;
}




/* Single product */
.woocommerce div.product {
   @apply flex gap-x-8 flex-wrap;
}

.woocommerce div.product div.summary {
   @apply float-none order-2;
}

section.related.products {
   margin-top: 6.25rem;
   flex: 0 0 100%;
   @apply order-3 max-w-full bg-yellow-100 relative lg:py-[8.125rem] py-[5rem];
}

section.related.products *:not(a):not(img) {
   position: relative;
   z-index: 1;
}

section.related.products::before {
   @apply content-[''] bg-yellow-100 left-1/2 top-1/2 h-full w-[100vw] absolute z-0 -translate-x-1/2 -translate-y-1/2;
}

section.related.products h2 {
   @apply text-[3.5rem] mb-4 uppercase font-medium;
}

.related.products ul.products li.product {
   width: calc(33.33% - (5.06% / 2));
   float: left;
}

@media(min-width:1024px) {
   .related.products ul.products li.product {
      margin-bottom: 0 !important;
   }
}

.related.products ul.products li.product:last-child {
   margin-right: 0;
}

.single-gallery a img {
   width: 100%;
   margin-bottom: 1.5rem;
}

body.single.product-template-default .entry-content {
   margin-bottom: 0 !important;
}


.woocommerce div.product form.cart .button {
   width: 100% !important;
   background-color: #841027 !important;
   color: white !important;
   text-transform: uppercase;
   padding: 1.5rem !important;
   border-radius: 0 !important;
   border: none !important;
}

div.product form.cart .variations th {
   @apply uppercase text-purple-900 block w-full mb-8;
}

.woocommerce-product-details__short-description ul {
   padding-left: 1.5rem;
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
   border-top: 1px solid #4E4E4E;
}

.woocommerce-product-details__short-description ul li {
   @apply text-sm uppercase;
   list-style: disc;
   color: #4E4E4E;
}

.woocommerce div.product form.cart .variations {
   border-top: 1px solid #4E4E4E;
   border-bottom: 1px solid #4E4E4E;
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
}
